<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <!--CONSOLE에 찍히는 로그와 FILE에 찍히는 로그 다르게(색상 유무)-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger) - %msg%n"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n"/>

    <include resource="console-appender.xml"/>
    <include resource="file-info-appender.xml"/>


    <!--프로필별로 로그 설정-->
    <!--local: 콘솔에 출력-->
    <springProfile name="local">

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger level="DEBUG" name="org.hibernate.SQL"/>
    </springProfile>

    <!--dev:콘솔, 파일 둘다 출력-->
    <springProfile name="dev">

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
        </root>

        <logger level="DEBUG" name="org.hibernate.SQL"/>
    </springProfile>
</configuration>




